name: Build and Test

on:
  push:
    branches: [ main ]
  merge_group:
    types: [checks_requested]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and test application

    permissions:
      checks: write
      contents: read
      issues: read
      pull-requests: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up JDK 25
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 25
          distribution: corretto

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build
        working-directory: ./my-service
        run: gradle clean build

      - name: Build System Test Module
        working-directory: ./my-service-st
        run: gradle clean build -x test

      - name: Integration Test
        working-directory: ./my-service
        run: gradle integrationTest

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f # v2.22.0
        if: always()
        with:
          files: |
            **/build/test-results/test/**/*.xml
            **/build/test-results/integrationTest/**/*.xml
